<p style="color:aliceblue"></p>
<div class="tweets">
  <ul class="list-group classINeed">
  {{#each (processTitle title) as |wordObj|}}
        <a href="/api/posts/search?tag={{wordObj.word}}">{{wordObj.word}}</a>
    {{/each}}
    <h6 class="idInNeed" style="display: none;">{{id}}</h6>
  <li class="list-group-item">{{content}}</li>
  <button type="button" class="btn btn-primary btn-sm likeBtn">like</button><p class="likeCount">0</p>
  <button type="button" class="btn btn-primary btn-sm deleteBtn">Delete</button>
  <br>
</ul>
</div>