<p style="color:aliceblue"></p>
<div class="tweets">
  <ul class="list-group">
  {{#each (processTitle title) as |wordObj|}}
        <a href="/api/posts/search?tag={{wordObj.word}}">{{wordObj.word}}</a>
    {{/each}}
  <li class="list-group-item">{{content}}</li>
  <br>
</ul>
</div>