{{> follower-details}}

{{!-- {{> follower-details}}

<div class="row">
  <div class="col">
{{!-- <p>Do I work?</p> --}}
    <h3 style="text-align:center">Followers</h3>
    <div class="card card-body followColor w-50" id="followers-container">
        {{#each followers as |follower|}}
        <ul class="list-group">
            <li class="list-group-item">
                {{follower.username}}
                {{#if follower.Follow.id}}
                <span class="badge bg-primary">Following</span>
              {{/if}}
            </li>
        </ul>
        {{/each}}
    </div>
  </div>

  <div class="col align-self-center mr-3">
    <h3 style="text-align:center">Following</h3>
      <div class="card card-body followColor w-50" id="following-container">
         {{#each followings as |following|}}
        <ul class="list-group">
            <li class="list-group-item">
                {{following.username}}
                {{#if following.Follow.id}}
                <span class="badge bg-primary">Following</span>
              {{/if}}
            </li>
        </ul>
        {{/each}}
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/follow.js"></script> --}}