<section class="d-flex bd-highlight flex-column mb-3">
  {{!-- <section class="d-flex justify-content-center align-items-center vh-100"></section> --}}



<div class="p-2 bd-highlight">
<h2 class="userNomeSec" style="color:white">{{users.username}}</h2>

<div class="input-group mb-3">
  <button class="btn btn-outline-secondary usersearchBtn" type="button" id="button-addon1">Search</button>
  <input type="text" class="form-control" id="searchData" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>



<button id="followBtn">
  {{!-- <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="blue" class="bi bi-person-fill-add" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"/>
</svg> --}}
<img class="profilePic" width="160" height="160"/>
</button>



</div>

{{!-- <div class="p2">



  Title :  <input type="text" class="form-control" id="title basic-url" aria-describedby="basic-addon3">
  Content : <textarea class="form-control" id = "content" aria-label="With textarea"></textarea>

  <button id ="submitBtn" class="btn btn-primary">
    Post
  </button>
</div> --}}
<br>
{{!-- <div class="p2">
  <button id="upload_widget" class="cloudinary-button">Upload files
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">

/*
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'drfd6uhgz', 
  uploadPreset: 'uaaczmxe'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);

  */
</script>
</button>
</div> 
--}}

<br>






<div class="p-2 bd-highlight">
{{!-- <section class="d-flex justify-content-center align-items-center vh-100">--}}
    <p>
      <button type="button" class="btn btn-primary" id="followBtn">Follow</button>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Lets Chat
    </a>
    </p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div>
            <ul class="ugad"></ul>
        </div>
        <form class="ufad">
                <label for="messageInput">Message:</label>
                <input type="text" id="messageInput" name="messageInput" />
                <button type="submit" id="usent" title="Send">Send</button>
        </form>
    </div>
    </div>


</div>

<div class="p2 bd-highlight">
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge bg-secondary">4</span>
      </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/followers">Followers</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/following">Following</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
{{!-- 
  <button type="button" class="btn btn-primary position-relative">Inbox
    <a href="http://localhost:3000/inbox"></a>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
      <span class="visually-hidden">unread messages</span>
    </span>
  </button> --}}
</button>


</div>

<br>

<div class="p2 bd-highlight">

{{#each users.Posts as |post|}}
    {{> profile-details}}
  {{!-- {{user.Posts.title}} --}}

{{/each}}
</div>

<script src="/js/folowbtn.js"></script>
<script src="/js/search.js"></script>
<script src="/js/like.js"></script>

<!-- Include Socket.IO library -->
<script src="/socket.io/socket.io.js"></script>

<script src="/js/chat.js"></script>
<script src="/js/uploadPost.js"></script>



</section>

