<section class = "d-flex bd-highlight flex-column mb-3">

<div class="navbar p-2 second-nav navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class=" active" aria-current="page" href="/profile">Profile</a>
        <a class="" href="#">Followers</a>
        <a class="" href="#">Following</a>
      </div>
    </div>
  </div>
</div>

{{#each posts as |post|}}


  {{> home-details}}
{{/each}}
<style>
  a {
    color: #FFE5C1; /* Default color */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
     margin-right: 10px;
}
/* Style for when the link is being hovered */
a:hover {
    color: #943ce7; /* Custom color on hover */
}
</style>
    {{!-- <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div>
            <ul class="ugad"></ul>
        </div>
        <form class="ufad">
                <label for="messageInput">Message:</label>
                <input type="text" id="messageInput" name="messageInput" />
                <button type="submit" id="usent" title="Send">Send</button>
        </form>
    </div>
    </div> --}}





<!-- Include Socket.IO library -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/search.js"></script>
<script src="/js/chat.js"></script>
</section>