<section class="d-flex bd-highlight flex-column mb-3">

  {{#each posts as |post|}}

  {{> home-details}}
  {{/each}}
  <style>
    a {
      color: #FFE5C1;
      /* Default color */
      text-decoration: none;
      transition: color 0.3s ease;
      /* Smooth transition for color change */
      margin-right: 10px;
    }

    /* Style for when the link is being hovered */
    a:hover {
      color: #943ce7;
      /* Custom color on hover */
    }
  </style>
  {{!-- <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div>
        <ul class="ugad"></ul>
      </div>
      <form class="ufad">
        <label for="messageInput">Message:</label>
        <input type="text" id="messageInput" name="messageInput" />
        <button type="submit" id="usent" title="Send">Send</button>
      </form>
    </div>
  </div> --}}





  <!-- Include Socket.IO library -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/chat.js"></script>
  <script src="/js/comments.js"></script>

</section>