        <h1>Inbox</h1>

    <div id="userListHere">
    </div>


    <div id="searchResultsInbox">
      {{#each users}}
      <p>Sender ID: {{this.sender_id}}</p>
      <h4>{{this.content}}</h4>
      <p>Receiver ID: {{this.reciver_id}}</p>
      <hr> <!-- Added a horizontal line between messages for better readability -->
   {{/each}}
  </div>
    </div>
    <script src="/js/inbox.js"></script>