<h2>Welcome, {{username}}!</h2>
<button id="followBtn">
  <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="blue" class="bi bi-person-fill-add" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"/>
</svg>
</button>

<button type="button" class="btn btn-primary" id="followBtn">Follow</button>
<div class="container-sm">
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge bg-secondary">4</span>
      </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/followers">Followers</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/following">following</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>

  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/inbox">Inbox</a>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
</div>
{{#each posts as |post|}}
  {{> home-details}}
{{/each}}

<section class="d-flex justify-content-center align-items-center vh-100">

    <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Lets Chat
    </a>
    </p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div>
            <ul class="ugad"></ul>
        </div>
        <form class="ufad">
                <label for="messageInput">Message:</label>
                <input type="text" id="messageInput" name="messageInput" />
                <button type="submit" id="usent" title="Send">Send</button>
        </form>
    </div>
    </div>

</section>

<script src="/js/folowbtn.js"></script>

<!-- Include Socket.IO library -->
<script src="/socket.io/socket.io.js"></script>

<script src="/js/chat.js"></script>