<section class="d-flex bd-highlight flex-column mb-3">

<div class="p-2 bd-highlight">
<h2 class="userNome" style="color:white">{{users.username}}</h2>

  <div class="input-group mb-3">
    <button class="btn btn-outline-secondary usersearchBtn" type="button" id="button-addon1">Search</button>
    <input type="text" class="form-control" id="searchData" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

  <button id="followBtn">
    <img class="profilePic" width="160" height="160"/>
  </button>
</div>


<div class="p2">
  <button id="upload_widget" class="cloudinary-button">Update Profile Picture
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">

</script> 
</button>
</div>


<div class="user-btns">
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge bg-secondary">4</span>
      </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/:userId/followers" style="color:white">Followers</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/:userId/following" style="color:white">Following</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>

  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/:userId/inbox" style="color:white">Inbox</a>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
  <style> 
    .user-btns {
      height: 40px;
      width: 100%;
      background-color: #252525;
      display: flex;
      justify-content: left;
      gap: 15px;
      margin-bottom: 10px;
    }
  </style>
</div>


<div class="p2">

  Title :  <input type="text" class="form-control titleSearchProf" id="title basic-url" aria-describedby="basic-addon3">
  Content : <textarea class="form-control" id = "content" aria-label="With textarea"></textarea>

  <button id="upload_post" class="cloudinary-button">Upload an image
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">

</script> 
  <button id ="submitBtn" class="btn btn-primary">
    Post
  </button>
</div>
<br>

<br>


<div class="p-2 bd-highlight">
    <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Lets Chat
    </a>
    </p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div>
            <ul class="ugad"></ul>
        </div>
        <form class="ufad">
                <label for="messageInput">Message:</label>
                <input type="text" id="messageInput" name="messageInput" />
                <button type="submit" id="usent" title="Send">Send</button>
        </form>
    </div>
    </div>


</div>


<br>

<div class="p2 bd-highlight">


<span><img src = "{{users.profilePic}}" width="60" height="60" style = "border-radius: 50%"/> {{users.username}}</span>
{{#each users.Posts as |post|}}

    {{> profile-details}}
  
{{/each}}


</div>

<script src="/js/folowbtn.js"></script>
<script src="/js/search.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/like.js"></script>
<!-- Include Socket.IO library -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/uploadPost.js"></script>



</section>

