<h2>Welcome, {{username}}!</h2>
<div class="container-sm">
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge bg-secondary">4</span>
      </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/followers">Followers</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/following">following</a>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>

  <button type="button" class="btn btn-primary position-relative">
    <a href="http://localhost:3000/inbox">Inbox</a>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
</div>
{{#each posts as |post|}}
  {{> home-details}}
{{/each}}

<section class="d-flex justify-content-center align-items-center vh-100">

    <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Lets Chat
    </a>
    </p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div>
            <ul class="ugad"></ul>
        </div>
        <form class="ufad">
                <label for="messageInput">Message:</label>
                <input type="text" id="messageInput" name="messageInput" />
                <button type="submit" id="usent" title="Send">Send</button>
        </form>
    </div>
    </div>

</section>



<!-- Include Socket.IO library -->
<script src="/socket.io/socket.io.js"></script>

<script src="/js/chat.js"></script>