<section class="d-flex justify-content-center align-items-center vh-100">

<form>
  <div class="mb-3">
     <h3 class="custom-text-color">Sign-up</h3>
    <label for="exampleInputEmail1" class="form-label custom-text-color">Email address</label>
    <style>
  .custom-text-color {
    color: #ff5733; /* Replace with your desired color code */
  }
</style>
    <input type="email" class="form-control emailNeeded" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

    <label for="exampleInputEmail1" class="form-label custom-text-color">Username</label>
    <input type="text" class="form-control userNameNeeded" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
    {{!-- <div id="emailHelp" class="form-text">Please choose a unique username.</div> --}}

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label custom-text-color">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">Password must be 8 characters long.</div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label receive-text" for="exampleCheck1">Receive emails from Salut</label>
    <style>
  .receive-text {
    color: #5f5c5b; 
  }
</style>
  </div>
  <button type="submit" class="btn custom-btn-color" id="signUpForm">Submit</button>
  <style>
  .custom-btn-color {
    background-color: #ff5733; 
    color: #ffffff; 
    
  }
</style>
</form>
</section>
<script src="/js/signup.js"></script>